@import './reset.css';

footer {
    position: fixed;
    bottom: 0;
    right: 0;

    .icp {
        font-size: 14px;
        bottom: 5px;
        left: 50%;
        margin-left: 0px;
        padding: 7px 15px;
        color: #706f6f;
    }
}